.header {
    background: linear-gradient(45deg, #2b5876, #4e4376); 
}

.header-image {
    position: relative;
}

.header-image img {
    width: 100%;
    display: block;
}

.verify-text {
    position: absolute;
    bottom: 205px;
    left: 120px;
    color: white;
    font-weight: bold;
}

.verify-image img {
    position: absolute;
    width: 3%;
    bottom: 200px;
    left: 80px;
}

.header-text {
    position: absolute;
    bottom: 90px;
    left: 80px;
    color: white;
    font-size: 5em;
    font-weight: bold;
    text-align: left;
    width: auto;
}

.body-text {
    position: absolute;
    bottom: 70px; 
    left: 80px; 
    color: white;
    font-size: 1em;
    font-weight: bold;
    text-align: left;;
}


