.App {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#root {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}
